@charset "utf-8";

body {
  margin: 0;
}

.main {
  width: 100%;
  /* max-width: 1580px; */
  height: 100%;
}

.main-inner {
  width: 1580px;
  height: 100%;
  font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
}

.main-left {
  width: 300px;
}

.main-left {
  margin-left: 30px;
  margin-top: 30px;
}

.main-nav > ul {
  list-style: none;
  padding: 0;
}

.main-nav li {
  margin-bottom: 10px;
}

.main-nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.main-nav a:hover {
  color: rgba(134, 131, 131, 0.76);
}

.main-right {
  width: 1280px;
  margin-top: 20px;
}

.main-right > p {
  display: block;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-right input {
  font-size: 17px;
}

.board-header {
  width: 1040px;
  font-size: 17px;
  margin-bottom: 30px;
}

.board-header label {
  display: inline-block;
  width: 80px;
}

.board-header > div {
  margin-bottom: 15px;
}

#orderNum,
#title {
  width: 700px;
  border: 0;
  border-bottom: 1px solid black;
}

#text {
  font-size: 17px;
}

.board-footer {
  width: 1030px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 5px;
}

.board-footer a {
  text-decoration: none;
  color: #000;
}

.board-footer a:hover {
  color: rgba(134, 131, 131, 0.76);
}
