@charset "utf-8";

body {
  margin: 0;
}

.main {
  width: 100%;
  /* max-width: 1580px; */
  height: 100%;
}

.main-inner {
  width: 1580px;
  height: 100%;
  font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
}

.main-left {
  width: 300px;
}

.main-left {
  margin-left: 30px;
  margin-top: 30px;
}

.main-nav > ul {
  list-style: none;
  padding: 0;
}

.main-nav li {
  margin-bottom: 10px;
}

.main-nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.main-nav a:hover {
  color: rgba(134, 131, 131, 0.76);
}

.main-right {
  width: 1280px;
  margin-top: 20px;
}

.main-right > p {
  display: block;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.list-title {
  width: 1010px;
  font-size: 20px;
  display: flex;
  margin-bottom: 10px;
}

.title-num {
  display: block;
  width: 150px;
}

.title-title {
  display: block;
  width: 520px;
}

.title-state {
  display: block;
  width: 225px;
}

.list-items {
  width: 1010px;
  border-top: 1px solid black;
}

.item {
  width: 1010px;
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin: 10px 0;
  position: relative;
}

.item-num {
  width: 150px;
}

.item-info {
  width: 510px;
  padding-right: 10px;
}

.item-num > a,
.item-info > a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.item-info > a:hover {
  color: rgba(134, 131, 131, 0.76);
}

.item-info span {
  margin-left: 10px;
}

.item-state {
  display: block;
  width: 225px;
  font-size: 18px;
}

.item > a {
  position: absolute;
  right: 10px;
  background-color: transparent;
  text-decoration: none;
  color: black;
  border: none;
}

.paging {
  width: 350px;
  height: 100px;
  display: flex;
  font-size: 17px;
  text-align: center;
  line-height: 100px;
  margin-left: 330px;
  justify-content: space-between;
  position: relative;
}

.paging a {
  text-decoration: none;
  color: #000;
}

.paging a:hover {
  text-decoration: underline;
}

.pages {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.write {
  position: absolute;
  left: -329px;
  top: -30px;
}
