@charset "utf-8";

body {
  margin: 0;
}

.main {
  width: 100%;
  /* max-width: 1580px; */
  height: 100%;
}

.main-inner {
  width: 1580px;
  height: 100%;
  font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
}

.main-left {
  width: 550px;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

.main-left > span {
  font-size: 50px;
  font-weight: bold;
}

.main-right {
  width: 1010px;
  height: 100%;
  padding-top: 20px;
}

.basket-title {
  font-size: 20px;
  display: flex;
  margin-bottom: 10px;
}

.title-unit {
  display: block;
  width: 570px;
}

.title-quantity {
  display: block;
  width: 205px;
}

.basket-items {
  border-top: 1px solid black;
}

.item {
  width: 1010px;
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin: 10px 0;
  position: relative;
}

.item-info {
  display: flex;
  width: 560px;
  padding-right: 10px;
}

.item-img {
  display: block;
  width: 110px;
  height: 110px;
  margin-right: 10px;
  background-image: url("https://vaska.kr/web/product/tiny/202112/0a569b7d226fa3034f94262cae8dd649.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.item-info > a {
  text-decoration: none;
  color: #000;
}

.item-info > a:hover {
  color: rgba(134, 131, 131, 0.76);
}

.item-quantity {
  display: block;
  width: 205px;
}

.item-quantity > a {
  text-decoration: none;
  color: black;
}

.quantity {
  border: none;
  background-color: transparent;
  width: 40px;
  text-align: center;
}

.item > a {
  position: absolute;
  right: 10px;
  background-color: transparent;
  text-decoration: none;
  color: black;
  border: none;
}

.summary {
  margin-top: 110px;
  margin-bottom: 20px;
}

.summary > div {
  margin: 10px 0;
}

.summary span {
  margin-left: 20px;
}

#checkout {
  margin-top: 70px;
}

#checkout > a {
  text-decoration: none;
  color: #000;
}

#checkout > a:hover {
  color: rgba(134, 131, 131, 0.76);
}

#checkout > a:last-child {
  margin-left: 40px;
}
