@charset "utf-8";

body {
  margin: 0;
}

header {
  background-color: #f6f5ef;
  height: 100px;
  width: 100%;
  z-index: 888;
  font: normal 17px Avenir, Arial, georgia;
  position: relative;
}

.header_inner {
  width: 100%;
  max-width: 1580px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.logo {
  width: 97.5px;
  height: 75px;
  position: absolute;
  left: 20px;
  top: 15px;
}

.title {
  width: 166.7px;
  height: 86px;
  position: absolute;
  left: 130px;
  top: 5px;
}

.nav {
  position: absolute;
  top: 35px;
  left: 330px;
  width: 350px;
}

.nav > ul {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
}

.nav > ul > li {
  text-align: center;
}

.nav > ul > li > a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font: normal 21px Avenir, Arial, georgia;
  /* font-size: 18px; */
  width: 100px;
  height: 30px;
  display: block;
  border-left: 1px solid rgba(184, 184, 184, 0.842);
  text-align: center;

  line-height: 30px;
}

.nav > ul > li:first-child > a {
  border-left: 0px;
}

.nav > ul > li > a:hover {
  background-color: rgba(184, 184, 184, 0.315);
  background-size: 100%;
}

.login {
  width: 70px;
  height: 35px;
  position: absolute;
  right: 30px;
  top: 45px;
  border: 2px solid #000;
  border-radius: 3px;
  vertical-align: baseline;
  line-height: 35px;
  text-align: center;
}

.login_btn {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.login_btn:hover {
  background-color: rgba(184, 184, 184, 0.315);
}

.logo > a {
  height: 100%;
  width: 100%;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -2000px;
  display: block;
}

.title > a {
  height: 100%;
  width: 100%;
  background-image: url(../img/title.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -2000px;
  display: block;
}

.login-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.603);
  z-index: 999;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal-inside {
  height: 550px;
  width: 500px;
  background-color: #f6f5efe8;
  border-radius: 5px;
}

.modal-logo {
  height: 130px;
  width: 200px;
  background-image: url(../img/title.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -2000px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.modal-form {
  display: block;
  height: 200px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.login-input {
  width: 400px;
  height: 35px;
  text-align: center;
  margin: 10px 0;
}

.login-submit {
  width: 80px;
  height: 40px;
  margin: 20px 0;
  background-color: #f6f5efe8;
  border: 0.5px solid black;
  border-radius: 2px;
}

.login-submit:hover {
  background-color: #e7e6e1;
}

.social {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.social > a {
  width: 40px;
  height: 40px;
  text-indent: -2000px;
  display: inline-block;
}

.google {
  background-image: url("../img/google.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 2px;
}

.naver {
  background-image: url("../img/naver.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.kakao {
  background-image: url("../img/kakao.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.login-bottom {
  width: 300px;
  height: auto;
  margin: 10px auto;
  margin-top: 60px;
}

.login-bottom > ul {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
  padding: 0;
}

.login-bottom > ul > li {
  text-align: center;
}

.login-bottom > ul > li > a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font: normal 14px Avenir, Arial, georgia;
  /* font-size: 18px; */
  width: 100px;
  height: 30px;
  display: block;
  border-left: 1px solid rgba(184, 184, 184, 0.842);
  text-align: center;

  line-height: 30px;
}

.login-bottom > ul > li:first-child > a {
  border-left: 0px;
}

.login-bottom > ul > li > a:hover {
  background-color: rgba(184, 184, 184, 0.315);
  background-size: 100%;
}

.traffic-modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.603);
  top: 0;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traffic-modal-inside {
  height: 200px;
  width: 600px;
  background-color: #f6f5efe8;
  border-radius: 5px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traffic-modal-inside > ul {
  width: 450px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.traffic-btn {
  display: inline-block;
  width: 120px;
  height: 100px;
  text-align: center;
}

.traffic-btn > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  background-color: #fffcec;
  font: Avenir, Arial, georgia;
  font-size: 25px;
  border-radius: 5px;
}

.traffic-btn > a:hover {
  background-color: #e2e0d1;
}

#login-modal-hide {
  display: none;
}

#traffic-modal-hide {
  display: none;
}

/* //////////////////////////////////////////// */

.item1 {
  height: 200px;
  width: 100vw;
  font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
}

.item1-top {
  width: 1530px;
  height: 39px;
  /* background-color: yellow; */
  margin: 0 auto;
  font-size: 13px;
  color: #7e7d7a;
}

.item1-top-left {
  float: left;
  line-height: 39px;
}

.item1-top-left > a {
  text-decoration: none;
  color: #7e7d7a;
}

.item1-top-right {
  float: right;
  line-height: 39px;
}

.item1-bottom {
  width: 1530px;
  height: 162px;
  margin: 0 auto;
  display: flex;
}

.item1-bottom-left {
  width: 308px;
  height: 162px;
}

.map {
  width: 294px;
  height: 136px;
  position: relative;
}

.map-link {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: chartreuse;
  border-radius: 3px;
}

.view-map {
  display: block;
  width: 108px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  z-index: 999;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  color: #000;
  left: 93px;
  top: 49.5px;
  font-weight: bold;
}

.view-map:hover {
  background-color: #dedede;
}

.view-map > span {
  margin-right: 5px;
}

.item1-bottom-right {
  width: 1142px;
  height: 153px;
  margin: 0 auto;
}

.hotels-title {
  width: 100%;
  height: 52px;
}
.hotels-title > h1 {
  margin-top: 0;
}

.book-info {
  width: 100%;
  height: 52px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.book-info > a {
  display: block;
  width: 363px;
  height: 50px;
  border-radius: 3px;
  padding: 0;
  border: 2px solid gray;
  position: relative;
  line-height: 0;
  text-decoration: none;
  color: rgb(100, 100, 100);
}

.check-in {
  background-color: #4bba9c;
}

.check-in-front {
  width: 354px;
  height: 53px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  border: 2px solid gray;
  top: -3px;
  right: -2px;
  display: flex;
  /* line-height: 53px; */
}

.check-in-front > span {
  margin: 0 20px;
  font-size: 25px;
  line-height: 53px;
  display: inline-block;
}

.check-in-front > div {
  display: inline-block;
  height: 48px;
  width: 200px;
  margin: 2px 0;
}

.check-in-front > div > p {
  font-size: 15px;
  height: 20px;
  margin: 0;
  line-height: 20px;
}

.check-in-front > div > span {
  font-size: 18px;
  height: 28px;
  display: block;
  line-height: 28px;
  color: #000;
}

.check-out {
  background-color: #cb0000;
}

.check-out-front {
  width: 354px;
  height: 53px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  border: 2px solid gray;
  top: -3px;
  right: -2px;
  display: flex;
  /* line-height: 53px; */
}

.check-out-front > span {
  margin: 0 20px;
  font-size: 25px;
  line-height: 53px;
  display: inline-block;
}

.check-out-front > div {
  display: inline-block;
  height: 48px;
  width: 200px;
  margin: 2px 0;
}

.check-out-front > div > p {
  font-size: 15px;
  height: 20px;
  margin: 0;
  line-height: 20px;
}

.check-out-front > div > span {
  font-size: 18px;
  height: 28px;
  display: block;
  line-height: 28px;
  color: #000;
}

.number {
  background-color: gray;
}

.number-front {
  width: 354px;
  height: 53px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  border: 2px solid gray;
  top: -3px;
  right: -2px;
  display: flex;
  /* line-height: 53px; */
}

.number-front > span {
  margin: 0 20px;
  font-size: 25px;
  line-height: 53px;
  display: inline-block;
}

.number-front > div {
  display: inline-block;
  height: 48px;
  width: 250px;
  margin: 2px 0;
}

.number-front > div > p {
  font-size: 15px;
  height: 20px;
  margin: 0;
  line-height: 20px;
}

.number-front > div > span {
  font-size: 18px;
  height: 28px;
  display: block;
  line-height: 28px;
  color: #000;
}

.main-item {
  width: 100vw;
  height: 1834px;
  background-color: #f2f2f2;
  font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
}

.main-item-inner {
  width: 1530px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}

.main-left {
  width: 308px;
  height: 1535px;
  background-color: white;
  border: 1px solid #c7c5bf;
  border-radius: 2px;
}

.main-left > div {
  margin: 0 auto;
  width: 245px;
}

.main-left-inner > div {
  padding: 16px 0px;
  border-bottom: 2px solid #7e7d7a;
}

.price {
  height: 205px;
  width: 100%;
}

.price > p {
  font-size: 20px;
  font-weight: bold;
}

.price-select > p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  padding: 20px 0;
  color: #333333;
}

.slider_range {
  width: 100%;
  margin: 20px 0;
}

.popular {
  height: 176px;
}

.popular > p {
  font-size: 20px;
  font-weight: bold;
}

.popular-select > div {
  display: flex;
  position: relative;
}

.popular-select input {
  width: 20px;
  height: 20px;
}

.popular-select span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

.popular-select span:last-child {
  position: absolute;
  right: 0;
}

.hotel-type {
  height: 176px;
}

.hotel-type > p {
  font-size: 20px;
  font-weight: bold;
}

.select-hotel-type > div {
  display: flex;
  position: relative;
}

.select-hotel-type input {
  width: 20px;
  height: 20px;
}

.select-hotel-type span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

.select-hotel-type span:last-child {
  position: absolute;
  right: 0;
}

.hotel-option {
  height: 195px;
}

.hotel-option > p {
  font-size: 20px;
  font-weight: bold;
}

.select-hotel-option > div {
  display: flex;
  position: relative;
}

.select-hotel-option input {
  width: 20px;
  height: 20px;
}

.select-hotel-option span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

.select-hotel-option span:last-child {
  position: absolute;
  right: 0;
}

.all-hotel-option {
  display: block;
  color: #000;
  margin-left: 5px;
  margin-top: 10px;
}

.hotel-location {
  height: 195px;
}

.hotel-location > p {
  font-size: 20px;
  font-weight: bold;
}

.select-hotel-location > div {
  display: flex;
  position: relative;
}

.select-hotel-location input {
  width: 20px;
  height: 20px;
}

.select-hotel-location span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

.select-hotel-location span:last-child {
  position: absolute;
  right: 0;
}

.all-hotel-location {
  display: block;
  color: #000;
  margin-left: 5px;
  margin-top: 10px;
}

.user-rating {
  height: 176px;
}

.user-rating > p {
  font-size: 20px;
  font-weight: bold;
}

.select-user-rating > div {
  display: flex;
  position: relative;
}

.select-user-rating input {
  width: 20px;
  height: 20px;
}

.select-user-rating span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

.select-user-rating span:last-child {
  position: absolute;
  right: 0;
}

.ur {
  font-size: 30px;
  color: #00aa6c;
  margin-right: 10px;
}

.hotel-class {
  height: 176px;
}

.hotel-class > p {
  font-size: 20px;
  font-weight: bold;
}

.select-hotel-class > div {
  display: flex;
  position: relative;
}

.select-hotel-class input {
  width: 20px;
  height: 20px;
}

.select-hotel-class span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

.select-hotel-class span:last-child {
  position: absolute;
  right: 0;
}

#last-item {
  border-bottom: none;
}

.main-right {
  width: 1197px;
  height: 1804px;
  margin-left: 25px;
}

.main-right-top {
  width: 1197px;
  height: 60px;
  margin: 20px 0;
  margin-top: 0;
  font-size: 18px;
  position: relative;
  display: flex;
}

#hotel-count {
  margin-top: 10px;
}

#hotel-count-selected {
  margin-top: 10px;
}

#hotel-count > span {
  font-weight: bold;
}

#hotel-count-selected > span {
  font-weight: bold;
}

#hotel-count-selected > a {
  font-size: 15px;
  color: #000;
}

#sort {
  width: 201px;
  height: 39px;
}

.sort {
  position: absolute;
  right: 0;
}

#options {
  margin-bottom: 10px;
}

#options > a {
  display: inline-block;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 5px;
  text-decoration: none;
  color: black;
}

#options span {
  color: gray;
}

.main-list {
  width: 1197px;
  height: 1608px;
  /* padding-top: 20px; */
}

.hotel-item {
  width: 1197px;
  height: 258px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
}

.hotel-img {
  display: block;
  width: 280px;
  height: 258px;
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/1c/ba/d9/57/exterior.jpg");
}

.hotel-item-left > a {
  display: block;
}

.hotel-title {
  font-size: 28px;
  text-decoration: none;
  color: #000;
  margin: 20px 20px;
}

.hotels-com {
  width: 94px;
  height: 40px;
  background-image: url("https://static.tacdn.com/img2/branding/hotels/Hotelscom_384x164.png");
  background-size: 100%;
  margin: 10px 0;
  margin-left: 93px;
}

.price-block {
  width: 245px;
  font-size: 28px;
  text-decoration: none;
  color: #000;
  margin: 10px 20px;
  text-align: center;
}

.view-price {
  width: 150px;
  height: 18px;
  background-color: #f2b203;
  padding: 9px 12px;
  margin-left: 55px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

.hotel-item-right {
  width: 400px;
  height: 180px;
  margin: auto 0;
  font-size: 17px;
  border-left: 1px solid rgba(128, 128, 128, 0.445);
  padding-left: 40px;
}

.hotel-item-right > a {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
}

.hotel-item-ur {
  font-size: 30px;
  color: #00aa6c;
  margin-right: 10px;
}

.page-num {
  width: 1149px;
  height: 44px;
  background-color: white;
  padding: 16px 24px;
  font-size: 14px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.prev,
.next {
  display: inline-block;
  width: 57px;
  height: 34px;
  background-color: black;
  color: white;
  margin: auto 20px;
  text-align: center;
  line-height: 34px;
  text-decoration: none;
  border-radius: 5px;
}

.prev {
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
}

.pageNumbers > a {
  display: inline-block;
  font-size: 18px;
  margin: 0 8px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.pageNumbers > a:last-child {
  color: #a7a5a0;
}

.hide {
  display: none;
}
