@charset "utf-8";

body {
  margin: 0;
}

header {
  background-color: #f6f5ef;
  height: 100px;
  width: 100%;
  z-index: 888;
  font: normal 17px Avenir, Arial, georgia;
  position: relative;
}

.header_inner {
  width: 100%;
  max-width: 1580px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.logo {
  width: 97.5px;
  height: 75px;
  position: absolute;
  left: 20px;
  top: 15px;
}

.title {
  width: 166.7px;
  height: 86px;
  position: absolute;
  left: 130px;
  top: 5px;
}

.nav {
  position: absolute;
  top: 35px;
  left: 330px;
  width: 350px;
}

.nav > ul {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
}

.nav > ul > li {
  text-align: center;
}

.nav > ul > li > a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font: normal 21px Avenir, Arial, georgia;
  /* font-size: 18px; */
  width: 100px;
  height: 30px;
  display: block;
  border-left: 1px solid rgba(184, 184, 184, 0.842);
  text-align: center;

  line-height: 30px;
}

.nav > ul > li:first-child > a {
  border-left: 0px;
}

.nav > ul > li > a:hover {
  background-color: rgba(184, 184, 184, 0.315);
  background-size: 100%;
}

.login {
  width: 70px;
  height: 35px;
  position: absolute;
  right: 30px;
  top: 45px;
  border: 2px solid #000;
  border-radius: 3px;
  vertical-align: baseline;
  line-height: 35px;
  text-align: center;
}

.login_btn {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.login_btn:hover {
  background-color: rgba(184, 184, 184, 0.315);
}

.logo > a {
  height: 100%;
  width: 100%;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -2000px;
  display: block;
}

.title > a {
  height: 100%;
  width: 100%;
  background-image: url(../img/title.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -2000px;
  display: block;
}

.login-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.603);
  z-index: 999;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal-inside {
  height: 550px;
  width: 500px;
  background-color: #f6f5efe8;
  border-radius: 5px;
}

.modal-logo {
  height: 130px;
  width: 200px;
  background-image: url(../img/title.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -2000px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.modal-form {
  display: block;
  height: 200px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.login-input {
  width: 400px;
  height: 35px;
  text-align: center;
  margin: 10px 0;
}

.login-submit {
  width: 80px;
  height: 40px;
  margin: 20px 0;
  background-color: #f6f5efe8;
  border: 0.5px solid black;
  border-radius: 2px;
}

.login-submit:hover {
  background-color: #e7e6e1;
}

.social {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.social > a {
  width: 40px;
  height: 40px;
  text-indent: -2000px;
  display: inline-block;
}

.google {
  background-image: url("../img/google.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 2px;
}

.naver {
  background-image: url("../img/naver.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.kakao {
  background-image: url("../img/kakao.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.login-bottom {
  width: 300px;
  height: auto;
  margin: 10px auto;
  margin-top: 60px;
}

.login-bottom > ul {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
  padding: 0;
}

.login-bottom > ul > li {
  text-align: center;
}

.login-bottom > ul > li > a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font: normal 14px Avenir, Arial, georgia;
  /* font-size: 18px; */
  width: 100px;
  height: 30px;
  display: block;
  border-left: 1px solid rgba(184, 184, 184, 0.842);
  text-align: center;

  line-height: 30px;
}

.login-bottom > ul > li:first-child > a {
  border-left: 0px;
}

.login-bottom > ul > li > a:hover {
  background-color: rgba(184, 184, 184, 0.315);
  background-size: 100%;
}

.traffic-modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.603);
  top: 0;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traffic-modal-inside {
  height: 200px;
  width: 600px;
  background-color: #f6f5efe8;
  border-radius: 5px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traffic-modal-inside > ul {
  width: 450px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.traffic-btn {
  display: inline-block;
  width: 120px;
  height: 100px;
  text-align: center;
}

.traffic-btn > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  background-color: #fffcec;
  font: Avenir, Arial, georgia;
  font-size: 25px;
  border-radius: 5px;
}

.traffic-btn > a:hover {
  background-color: #e2e0d1;
}

#login-modal-hide {
  display: none;
}

#traffic-modal-hide {
  display: none;
}

/* //////////////////////////////////////////// */

.main {
  width: 100%;
  /* max-width: 1580px; */
  height: 1600px;
  background-color: #f2f2f2;
}

.main-inner {
  width: 1580px;
  height: 100%;
  background-color: #fff;
  font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
  margin: 0 auto;
  padding-top: 20px;
}

.main-category {
  width: 1000px;
  height: 100px;
  border-bottom: 2px solid #999;
  margin: 0 auto;
}

.main-category ul {
  width: 800px;
  height: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  line-height: 40px;
}

.main-category li {
  display: block;
  font-size: 22px;
  width: 200px;
  text-align: center;
}

.main-category a {
  text-decoration: none;
  color: #000;
  margin-left: 5px;
}

.main-category a:hover {
  text-decoration: underline;
}

.main-items {
  width: 1580px;
  height: 1150px;
  padding: 20px 0;
}

.main-items-line1,
.main-items-line2,
.main-items-line3 {
  width: 1540px;
  height: 330px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.item {
  width: 220px;
  height: 330px;
  /* background-color: burlywood; */
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 17px;
}

.item-img1 {
  background-image: url("http://vaska.kr/web/product/big/202112/043875113f91101962ab335fa79460b2.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.item-img2 {
  background-image: url("http://vaska.kr/web/product/big/202109/eb38db1ae1a460e14fdb5c5b44534917.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.item > div:first-child {
  width: 220px;
  height: 220px;
  margin-bottom: 10px;
}

.paging {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  justify-content: space-between;
}
.paging a {
  text-decoration: none;
  color: #000;
}

.paging a:hover {
  text-decoration: underline;
}

.pages {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
